= week_calendar events: @work_schedules do |date, meetings|
  = date.strftime("%d")
  - meetings.each do |meeting|
    %div
      = link_to meeting.role, my_schedule_path(schedule_id:meeting.id)
= render partial: 'schedule', locals: { schedule: @my_schedule } if @my_schedule.present?
