<%= render partial: 'schedule', locals: { schedule: @work_schedule } %>
<p>
  <strong>User:</strong>
  <%= @work_schedule.user.profile.name.try(:capitalize) %>
</p>

<%= link_to 'Edit', edit_work_schedule_path(@work_schedule) %> |
<%= link_to 'Back', work_schedules_path %>
