// Place all the styles related to the work_schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule {
  border: 1px solid gray;
  .row {
    padding: 5px 20px;
  }
}

.schedules {
  th, td {
    padding: 13px !important;
    border: 1px solid;
  }
}